streamlit==1.38.0
streamlit-authenticator==0.3.3
streamlit-condition-tree==0.2.0
langchain==0.2.16
langchain-openai==0.2.1
langchain-community==0.3.1
openai==1.41.0
pandas==2.1.1
matplotlib==3.9.2
SQLAlchemy==2.0.34
sqlalchemy-bigquery==1.12.0
google-cloud-bigquery==3.26.0
google-cloud-bigquery-storage==2.26.0